
body{
    color: #000000;
    display:flex;
    flex-direction: row;

}
/*..............................................................................................*/

.titre{
    margin: 0 0 150px 50px;

}
.r-side .titre h1{
    font-size: 520%;
}
.r-side .titre h3{
    font-size: 250%;
}


.l-side{
    font-size: 20px;
   
    display:flex;
    
    flex-direction: column;
    background-color:#c2a257;
    padding-top:50px;
    color:rgb(0, 0, 0); 
    text-align: justify;
    max-width:400px ;
    

}
.l-text{
    text-align: justify;
    font-size: 20px;
    margin: 10px;
    padding: 10px;

}
.photo{
    margin:auto;
    margin-top: 0;
    margin-bottom:5em;
    box-shadow: black 8px 4px 8px ;
    min-block-size: 230px;
    display: flex;
  
    
	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;

}
.l-side h2{
    background-color: #000000;
    font-size: 40px;
    color: aliceblue;
    text-align: center;

}
.loisir{
    margin-top: 100%;

}
.l-tp{
   
    display:flex;
    flex-direction: row;
    
}
.vector{

    margin: auto;
}

@media screen and (min-width: 920px) {

    }

/*..............................................................................................*/

.r-side .titre h3 span{
    text-decoration: #c2a257 underline ;
    
}
.r-side .titre h1 span{
    color: #c2a257;
}

.r-side{
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 50px

}

li{
    list-style: none;
    display: flex;
}
.f-date{
    display: flex;

    flex-direction: column;
    flex: 1;
    

}
.f-d{
    display: flex;
 flex-direction: column;
 flex: 2;

}
.fas, .far{
    color:#c2a257;
    font-size: 20px;

   
}
section h2{
    border-bottom: 2px solid #c2a257;

}

.e-date{
    display: flex;

    flex-direction: column;
    flex: 1;
    

}
.e-d{
    display: flex;
 flex-direction: column;
 flex: 2;

}
.reco {
    display:flex;
    flex-direction: row;
    

}
.reco1{
    margin:0% 15% 0% 15%;
}
.reco1 span{
    font-weight: bold;
}
section h2{
    font-size: 250%;

}



/* body{
    margin:0;

        

}

.all{
    display: flex;
    flex-direction: row;
    opacity: 100%;
    margin-right: 80px;


}
.profil{


	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    opacity: 100%;
    width:200px;
    height:200px; 
    margin-left: 90px;

}


.flex_g
{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0% ;
	border-top-right-radius:  20% ;
	border-bottom-left-radius: 0% ;
    border-bottom-right-radius: 5%;
    background-color:rgba(255, 255, 255, 0.815);
   
    width: 30%;
    height: 900px;
    padding: 10px;
    margin: 80px;
    opacity: 70%;
    object-position: center;


    
}

.flex_loisir{
    display: flex;
    flex-direction: row;



}

.t_formation{
    display: flex;
    flex-direction: row;
    background-color: white;
    
    max-width: 400px;
    min-height: 200px;

}
.flex_d{
    display: flex;
    flex-direction: column;
    opacity: 90%;


    
}

.form_formation{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.479);
    margin-bottom: 50px;
    
    

}
.form_formation2{
    display: flex;
    flex-direction: row;
    background-color: white;
    
}


h2.title_left{
    background-color: white;
    margin:-10px;
    text-align: center;
    
        

}
.vector{
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.flex_left{
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.from-exp{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.479);
}

.exp-box{
    background-color: white;

}
.skill-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.479);
    padding-bottom: 30px;
    text-align: center;
    padding: 10px;
    padding-top: -20px;
    opacity: 80%;
}
.puce_skill{
    display:flex;
    flex-direction: row;
    background-color: white;
    text-align: left;
margin-top:-10px;
   

}
.skill{
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px; 
}
.skill-t{
    text-decoration: underline;
}

.from-exp{
    margin-bottom: 50px;
}
.nom p{
    text-decoration: dotted;
    text-decoration-color: aliceblue;
}
.nom{
    color:white;
} */