
body{
    font-family: "Montserrat";
    font-size: 100%;
    color: #000000;
    display:flex;
    flex-direction: row;
   
    margin: 0;

}

/*..............................................................................................*/
.titre-mobile{
    display:none;
}
.titre{
    margin: 50px 0px 50px 0px;

}
.r-side .titre h1{
    font-size: 520%; 
    margin:0px 0px 0px 0px
}
.r-side .titre h3{
    font-size: 250%;
    margin:0px 0px 0px 0px
}


.l-side{
    font-size: 20px;
   
    display:flex;
    flex-direction: column;
    background-color:#c2a257;
    padding-top:20px;
    color:rgb(0, 0, 0); 
    text-align: justify;
    width:30% ;
    
    

}
.l-text{
    text-align: justify;
    font-size: 20px;
 
    padding-left: 10%;
    padding-right: 10%;

}

.photo{
    margin:auto;
    margin-top: 10%;
    margin-bottom:5%;
    min-block-size: 230px;
    display: flex;
  
    
	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    border: 3px solid rgba(77, 74, 74, 0.5);;
    

}
.l-side h2{
    background-color: #000000;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    padding:1%;

}
.l-side .l-t{
    margin-top:-5%;
    margin-bottom:-5%;
}
.l-side .l-t li{
    margin:2%;
}

.loisir{
    margin-top: 100%;

}
.l-tp{
   
    display:flex;
    flex-direction: row;
    
}
.vector{

    margin: auto;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%

}
.vector img{ padding:5px
    
}



/*..............................................................................................*/

.r-side .titre h3 span{
    text-decoration: #c2a257 underline ;
    
}
.r-side .titre h1 span{
    color: #c2a257;
}

.r-side{
    width: 70% ;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5%;
    
    

}

li {
    
    list-style: none;
    display: flex;

}
.f-date{
    
    display: flex;
    margin:0 0 0  -35px;
    flex-direction: column;
    flex: 1;
    

}
.f-date p:nth-child(2){
    margin: -10px 0 0 18px;
}
.e-date p:nth-child(2){
    margin: -10px 0 0 18px;
}
.f-d{
  
    margin-bottom:2%;
    display: flex;
 flex-direction: column;
 flex: 2;

}

section .fas{
    font-size:40px;
}
.fas, .far{
    color:#c2a257;
    font-size: 20px;

   
}

.e-date .fas{
    font-size:10px
}
.f-date .fas{
    font-size:10px
}


.e-date{
    
    display: flex;
    margin:0 0 0  -35px;
    flex-direction: column;
    flex: 1;
    

}
.e-d{
    margin-bottom:2%;
    display: flex;
 flex-direction: column;
 flex: 2;

}
.reco {
    display:flex;
    flex-direction: row;
    

}
.reco1{
    margin:0% 30% 0% 0%;
}
.reco1 span{
    font-weight: bold;
}
.r-side section h2{
    font-size: 250%;
    text-transform: uppercase;
    border-bottom: 2px solid #c2a257;
    width:100%;


}

h4{
    font-size:150%;
    margin-bottom: 2%;
    margin-top:2%;
}
h5{
    font-size:120%;
    margin-bottom: 0%;
    margin-top:0%;

}

@media screen and (max-width: 1280px) {
    .titre-mobile{
       display: flex;
       flex-direction: column;
       font-size:150%;
       text-align: center;
    }
    .l-side .titre-mobile h3 span{
        text-decoration: #ffffff underline ;
        
        
    }
    .l-side .titre-mobile h1 span{
        color: #ffffff;
        
    }

    .r-side .titre{
        display:none;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .l-side{
        width: 100%;
    }
    .loisir{
        margin-top: 0;
    
    }

}





/* body{
    margin:0;

        

}

.all{
    display: flex;
    flex-direction: row;
    opacity: 100%;
    margin-right: 80px;


}
.profil{


	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    opacity: 100%;
    width:200px;
    height:200px; 
    margin-left: 90px;

}


.flex_g
{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0% ;
	border-top-right-radius:  20% ;
	border-bottom-left-radius: 0% ;
    border-bottom-right-radius: 5%;
    background-color:rgba(255, 255, 255, 0.815);
   
    width: 30%;
    height: 900px;
    padding: 10px;
    margin: 80px;
    opacity: 70%;
    object-position: center;


    
}

.flex_loisir{
    display: flex;
    flex-direction: row;



}

.t_formation{
    display: flex;
    flex-direction: row;
    background-color: white;
    
    max-width: 400px;
    min-height: 200px;

}
.flex_d{
    display: flex;
    flex-direction: column;
    opacity: 90%;


    
}

.form_formation{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.479);
    margin-bottom: 50px;
    
    

}
.form_formation2{
    display: flex;
    flex-direction: row;
    background-color: white;
    
}


h2.title_left{
    background-color: white;
    margin:-10px;
    text-align: center;
    
        

}
.vector{
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.flex_left{
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.from-exp{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.479);
}

.exp-box{
    background-color: white;

}
.skill-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.479);
    padding-bottom: 30px;
    text-align: center;
    padding: 10px;
    padding-top: -20px;
    opacity: 80%;
}
.puce_skill{
    display:flex;
    flex-direction: row;
    background-color: white;
    text-align: left;
margin-top:-10px;
   

}
.skill{
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px; 
}
.skill-t{
    text-decoration: underline;
}

.from-exp{
    margin-bottom: 50px;
}
.nom p{
    text-decoration: dotted;
    text-decoration-color: aliceblue;
}
.nom{
    color:white;
} */