body{
    margin:0;
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Picture/josh-rose-trYl7JYATH0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        

}

.all{
    display: flex;
    flex-direction: row;
    opacity: 100%;
    margin-right: 80px;


}
.profil{


	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    opacity: 100%;
    width:200px;
    height:200px; 
    margin-left: 90px;

}


.flex_g
{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0% ;
	border-top-right-radius:  20% ;
	border-bottom-left-radius: 0% ;
    border-bottom-right-radius: 5%;
    background-color:rgba(255, 255, 255, 0.815);
   
    width: 30%;
    height: 900px;
    padding: 10px;
    margin: 80px;
    opacity: 70%;
    object-position: center;


    
}

.flex_loisir{
    display: flex;
    flex-direction: row;
    padding:10px;
    margin-left: 10px;
    margin-right: 10px;

}

.t_formation{
    display: flex;
    flex-direction: row;
    background-color: white;

}
.flex_d{
    display: flex;
    flex-direction: column;
    opacity: 90%;
    
}

.form_formation{
    display: flex;
    flex-direction: row;

}

h2.title_left{
    background-color: white;
    margin:-10px;
    text-align: center;
        

}
.vector{
    margin: 10px;
    padding: 10px;
}
.flex_left{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

