body{
    margin:0;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.all{
    display: flex;
    flex-direction: row;

}
.profil{

    margin-top: 100px;
	
	width: 210px;
	border-top-left-radius: 50% ;
	border-top-right-radius:  1% ;
	border-bottom-left-radius: 50% ;
	border-bottom-right-radius: 20%;

}

.flex_g
{
    display: flex;
    flex-direction: column;
}
