
body{
    font-family: "Montserrat";
    font-size: 1em;
    color: #000000;
    display:flex;
    flex-direction: row;
   
    margin: 0;

}

/*..............................................................................................*/
.titre-mobile{
    display:none;
}
.titre{
    margin: 50px 0px 50px 0px;

}
.r-side .titre h1{
    font-size: 4em; 
    margin:0px 0px 0px 0px;
    font-weight: 500;
    text-transform: uppercase;

}
.r-side .titre h2{
    font-size: 2em;
    margin:0px 0px 0px 0px
}

/*..............................................................................................*/
.l-side{
    font-size: 1em;
   
    display:flex;
    flex-direction: column;
    background-color:#c2a257;
    padding-top:20px;
    color:rgb(0, 0, 0); 
    text-align: justify;
    width:30% ;
    
    

}
.l-text{
    text-align: justify;
 
    padding-left: 10%;
    padding-right: 10%;

}

.photo{
    margin:auto;
    margin-top: 10%;
    margin-bottom:5%;
    min-block-size: 230px;
    display: flex;
  
    
	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    border: 3px solid rgba(77, 74, 74, 0.5);;
    

}
.l-side h3{
    background-color: #000000;
    font-size: 1.5em;
    color: aliceblue;
    text-align: center;
    padding:1%;
    text-transform: uppercase;
    font-weight: 500;

}
.l-side .l-t{
    margin-top:-5%;
    margin-bottom:-5%;
    padding-left: 10%;
    padding-right: 10%;

}


.loisir{
    margin-top: 100%;

}
.l-tp{
   
    display:flex;
    flex-direction: row;
    
}
.vector{

    margin: 1em;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%

}
.vector img{ padding:5px
    
    
}



/*..............................................................................................*/

.r-side .titre h2 span{
    display:row;
    border-bottom:3px solid #c2a257;
    padding-bottom: 3px;
    
   
    
}
.r-side .titre h1 span{
    color: #c2a257;
}

.r-side{
    width: 70% ;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
    
    

}

li  {
    
    list-style: none;
    display: flex;

}

.f-date{
    
    display: flex;
    margin:0 0 0  -40px;
    flex-direction: row;
    flex: 1;
    

}

.f-date p:nth-child(2){
    margin: 0 0 0 0;

}
.e-date p:nth-child(2){
    margin: 0 0 0 0;
}
.f-date p {
    padding-left:20px;
    

}
.f-d{
  
    margin-bottom:2%;
    display: flex;
 flex-direction: column;
 flex: 2;

}

section .fas{
    font-size:1.5em;
    margin-right: 30px;
}
section .f-date .fas{
    margin-left:2px;
    margin-right:3px
}

.fas, .far{
    color:#c2a257;
    font-size: 1em;

   
}

.e-date .fas{
    font-size:0.5em
}
.f-date .fas{
    font-size:0.5em
}


.e-date{
    
    display: flex;
    margin:0 0 0  -40px;
    flex-direction: row;
    flex: 1;
    

}
.e-date p {
    padding-left:20px;
    

}
section .e-date .fas{
    margin-left:2px;
    margin-right:3px
}
.e-d{
    margin-bottom:2%;
    display: flex;
 flex-direction: column;
 flex: 2;

}
.reco {
    display:flex;
    flex-direction: row;

}
.reco1{
    padding-right: 20%;
}


.reco1 span{
    font-weight: 500;
}
.reco1 .name{
    text-transform: uppercase;
    font-weight: 600;
}
.r-side section h3{
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #c2a257;
    


}

h4{
    font-size:1.2em;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top:0;
}
h5{
    font-size:1em;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top:0;

}

@media screen and (max-width: 1280px) {
    .titre-mobile{
       display: flex;
       flex-direction: column;
       font-size:150%;
       text-align: center;
    }
    .l-side .titre-mobile h2 span{
        text-decoration: #ffffff underline ;
        
        
    }
    .l-side .titre-mobile h1 span{
        color: #ffffff;
        
    }

    .r-side .titre{
        display:none;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .l-side{
        width: 100%;
        margin:0;
        padding:0;
    }
    .loisir{
        margin-top: 0;
        margin-bottom: 2%;
    
    }
    .r-side{
        width: 100%;
        margin:0;
        padding:0;
    }
    .l-t{
        font-size: 120%;
    }

}