
body{
    font-family: "Montserrat";
    font-size: 1rem;
    color:#263238;
    display:flex;
    flex-direction: row;
   
    margin: 0;

}

/*..............................................................................................*/
.titre-mobile{
    display:none;
}
.titre{
    margin: 50px 0px 50px 0px;

}
.r-side .titre h1{
    font-size: 4rem; 
    margin:0px 0px 0px 0px;
    font-weight: 500;
    text-transform: uppercase;

}
.r-side .titre h2{
    font-size: 2rem;
    margin:0px 0px 0px 0px
}

/*..............................................................................................*/
.l-side{
    font-size: 1rem;
   
    display:flex;
    flex-direction: column;
    background-color:#b71c1c;
    padding-top:20px;
    color:#263238; 
    text-align: justify;
    width:30% ;
    
    

}
.l-text{
    font-size:1em;
    text-align: justify;
 
    padding-left: 10%;
    padding-right: 10%;

}

.photo{
    margin:auto;
    margin-top: 10%;
    margin-bottom:5%;
    min-width: 230px;
    display: flex;
  
    
	border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    border: 3px solid rgba(38,50,56 ,0.5);
    

}
.l-side h3{
    background-color:#263238;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-align: center;
    padding:1%;
    text-transform: uppercase;
    font-weight: 500;

}
.l-side .l-t{
    margin-top:-5%;
    margin-bottom:-5%;
    padding-left: 10%;
    padding-right: 10%;

}


.loisir{
    margin-top: 100%;

}
.l-tp{
   
    display:flex;
    flex-direction: row;
    margin:auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}
.vector{

    margin: auto;
    border: 3px solid #263238;
    border-top-left-radius: 50% ;
	border-top-right-radius:  50% ;
	border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%

}
.vector { padding:5px
    
    
}
.loisir .l-tp .vector .img{
    color: #263238;
}



/*..............................................................................................*/

.r-side .titre h2 span{
    color: #b71c1c;
    border-bottom:3px solid #b71c1c;
    padding-bottom: 3px;
    
   
    
}
.r-side .titre h1 span{
    color: #b71c1c;
}

.r-side{
    width: 70% ;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
    
    

}

li  {
    
    list-style: none;
    display: flex;

}

.f-date{
    
    display: flex;
    margin:0 0 0  -40px;
    flex-direction: row;
    flex: 1;
    

}

.f-date p:nth-child(2){
    margin: 0 0 0 0;

}
.e-date p:nth-child(2){
    margin: 0 0 0 0;
}
.f-date p {
    padding-left:20px;
    

}
.f-d{
  
    margin-bottom:2%;
    display: flex;
 flex-direction: column;
 flex: 2;

}

section .fas{
    font-size:1.5rem;
    margin-right: 30px;
}
section .endreco .fas{
    font-size:1.5rem;
    margin-right: 30px;
}
section .f-date .fas{
    margin-left:2px;
    margin-right:3px
}

.fas, .far{
    color:#b71c1c;
    font-size: 1rem;

   
}

.e-date .fas{
    font-size:0.7rem
}
.f-date .fas{
    font-size:0.7rem
}


.e-date{
    
    display: flex;
    margin:0 0 0  -40px;
    flex-direction: row;
    flex: 1;
    

}
.e-date p {
    padding-left:20px;
    

}
section .e-date .fas{
    margin-left:2px;
    margin-right:3px
}
.e-d{
    margin-bottom:2%;
    display: flex;
 flex-direction: column;
 flex: 2;

}
.endreco{
    font-size:1rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.reco {
    display:flex;
    flex-direction: row;

}
.reco1{
    padding-right: 20%;
}


.reco1 span{
    font-weight: 500;
}
.reco1 .name{
    text-transform: uppercase;
    font-weight: 600;
}
.r-side section h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid #b71c1c;
    


}

h4{
    
    font-weight: 900;
    margin-bottom: 5px;
    margin-top:0;
}
h5{
    
    font-weight: 500;
    margin-bottom: 5px;
    margin-top:0;

}

@media screen and (max-width: 1280px) {
    .l-side .titre-mobile{
        
    display: flex;
       flex-direction: column;
       font-size:3rem;
       text-align: center;
    
    }
    .l-side .titre-mobile h2{
        margin:0;
    }
    .l-side .titre-mobile h2 span{
        
        color: #FAFAFA;
        
        border-bottom:3px solid #FAFAFA;
        padding-bottom: 3px;
        
    }

    .r-side .titre{
        display:none;
    }
    body{
        font-family: "Montserrat";
       
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 10px;
    }
    .l-side{
        width: 100%;
        margin:0;
        font-size:0.7rem;
    }
    .loisir{
        margin-top: 10px;
        margin-bottom:10px ;
       
    
    }

    .r-side{
        width: 100%;
        margin:0;
        padding:0;

    }




    .l-side .l-t,.l-text,.l-tp{
        margin-top:10px;
        margin-bottom:10px;
        padding-left: 10%;
        padding-right: 10%;
        font-size:0.7rem;
        
    
    }
    .l-tp .vector{
        margin:auto;
  
    }
    .f-date{
    font-size:1.5rem;
    }
    .e-date{
    font-size:1.5rem;

    }


    .endreco .fas{
        font-size:2.5rem;
        margin-right: 30px;
    }


    .f-d{
        font-size:1.7rem;
    }
    .reco1{
        font-size:1.5rem;
    }
    .r-side section.endreco h3{
        font-size:2.5rem;
    }
    .r-side section h3{
        font-size:2.5rem;

    }
    .reco1{
        padding-right: 5%;
        padding-left: 5%;
    }
    section .fas{
        margin-right: 30px;
    }
    .r-side section h3 .fas{
        font-size:2.5rem;

    }



}